<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <!-- 修改标题和描述 -->
      <a href="{{ .Site.BaseURL }}"><h1>Yue Hu</h1></a>
    <!-- 添加个人信息 -->
    <!-- 第一行：展示图片 -->
    <img src="Touxiang2.jpg" alt="个人照片" width="200" height="200" style="border-radius: 50%;">
     
    <!-- 第四行：展示学校 -->
    <p>Hunan University</p>
    
    <!-- 第五行：展示邮箱地址 -->
    <p>
        <img src="email-icon.jpg" alt="Email图标" width="25" height="20">
        <a href="mailto:youremail@example.com">1696378026@qq.com</a>
    </p>
  </div>
</aside>